/* Main styles*/
body {
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

/* Styles for response - "welcome message" */
.classFriday {
    background-color: #dff0d8 !important;
}