<div ng-class="{classFriday: $ctrl.registeredApplicant[0].isDobFriday}">
    <div class="container" ng-show="$ctrl.registeredApplicant[0] != null">
        <h2>Hello, {{ $ctrl.registeredApplicant[0].Name+" "+$ctrl.registeredApplicant[0].LastName }}!</h2>
        <div layout-gt-sm="row" layout-align="end center">
            <md-button class="md-primary" ng-click="$ctrl.deleteDataFromIndexedDB()">Delete my data from browser</md-button>
        </div>
    </div>

    <!-- Angular Material form -->
    <md-content layout-padding ng-class="{classFriday: $ctrl.registeredApplicant[0].isDobFriday}">
        <div>
            <h4>Registry form</h4>
            <form name="registryForm" novalidate ng-submit="$ctrl.saveApplicant(registryForm.$valid)">

                <md-input-container class="md-block" flex-gt-sm>
                    <label>First name</label>
                    <input name="Name" required data-ng-model="$ctrl.Name">
                    <div ng-messages="registryForm.Name.$error">
                        <div ng-message="required">Your name is required!</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input name="LastName" required data-ng-model="$ctrl.LastName">
                    <div ng-messages="registryForm.LastName.$error">
                        <div ng-message="required">Your last name is required!</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Address</label>
                    <input name="Address" required data-ng-model="$ctrl.Address">
                    <div ng-messages="registryForm.Address.$error">
                        <div ng-message="required">The address is required!</div>
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Date of birth</label>
                    <md-datepicker name="DateOfBirth" required data-ng-model="$ctrl.DateOfBirth" md-max-date="$ctrl.maxDate"></md-datepicker>
                    <div ng-messages="registryForm.DateOfBirth.$error">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="required">Date of birth is required!</div>
                        <div ng-message="maxdate">Date of birth is too late!</div>
                    </div>
                </md-input-container>

                <div layout-gt-sm="row" layout-align="end center" flex-gt-sm>
                    <md-input-container class="md-block">
                        <md-button class="md-primary" type="submit">Register</md-button>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
</div>